.OKster_logo{
    font-family: 'Lobster', cursive;
}

.OKster_footer_button{
    font-size: .9rem;
}

.OKster_footer{
    text-align: center;
    margin-top: 2rem;
 }

.OKster_header{
    text-align: center;
    margin: 2rem 0;
}
